footer {
    padding: 10px 0;
    background-color: #333333;
    bottom: 0;
    & p {
        display: flex;
        color: #f4f4f9;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }
}